
/* Global reset / base layout positioning */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  overflow: hidden;
  scrollbar-width: none;
}

/* optional body styling */
body {
  background-color: #fafafa;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;           /* Chrome / Edge / Safari */
}
