FastAPI
uvicorn[standard]
gunicorn
python-dotenv
pydantic_settings
databases[postgresql]
psycopg2-binary
fastapi[all]
rich
asgi-correlation-id
python-json-logger
python-jose
python-multipart
sqlalchemy
pyexiftool
google-cloud-storage
geoalchemy2
shapely
passlib==1.7.4
bcrypt==4.0.1

